@import "../../styles/themes";
@import "../../styles/mixins";

.footer {
  background-color: $color-purple;
  color: $color-white;

  &__container {
    padding: 8rem;
    max-width: 144rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    @include respond(tab-port) {
      padding-top: 20rem;
    }

    @include respond(phone) {
      flex-direction: column;
      padding: 10rem 3.5rem 1rem;
    }

    &-1 {
      flex-grow: 1;
    }

    &-2 {
      flex-grow: 1;
    }

    &-3 {
      text-align: center;
      flex-grow: 1;

      @include respond(phone) {
        margin-top: 5rem;
      }

      &--contact {
        margin-top: 2rem;

        &-address {
          line-height: 4rem;
        }
      }
    }

    ul {
      list-style-type: none;
      line-height: 4rem;

      a {
        &:link,
        &:visited {
          color: $color-white;
          text-decoration-color: transparent;
          transition-duration: 150ms;
        }

        &:hover,
        &:active {
          text-decoration: underline;
        }
      }
    }

    &--address {
      &-mapDiv {
        background-color: $color-white;
        width: 40rem;
        height: 22rem;
      }
    }
  }
}

.copyright {
  font-size: 1.3rem;
  text-align: center;
  opacity: 0.5;
  padding: 3rem;
}

.map-container {
  margin: 0 auto;
  width: 40rem;
  height: 26rem;
}
