@import "../../styles/mixins";

.gallerySection {
  padding: 8rem 0;

  &__container {
    margin: 4rem 0;
    display: grid;
    grid-template-rows: 25rem 25rem;
    grid-template-columns: 35rem 35rem 37rem;
    grid-gap: 1rem;
    justify-content: center;

    @include respond(tab-land) {
        grid-template-columns: 35rem 35rem;
    }

    @include respond(phone) {
        grid-template-columns: 35rem;
    }

    .twoRows {
        grid-row: 1 / 3;
        grid-column: 3 / 4;
        height: 51rem;

        @include respond(tab-land) {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
            height: 48rem;
        }

        @include respond(phone) {
            grid-row: 5 / 7;
            grid-column: 1 / 2;
            height: 48rem;
        }
    }

    img {
      display: block;
      height: 25rem;
    }
  }
}
