@import "../../styles/mixins";

.ourDoctorsBtns {
    padding-bottom: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @include respond(phone) {
        flex-direction: column;
        text-align: center;
    }
}